*{
    margin: 0%;
}
body{
    background: linear-gradient(45deg,red,blue);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 98svh;
    width: 95%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-size: 3rem;
    margin: 1.5rem;
    background: linear-gradient(45deg,red,blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0);
    font-family: 'playfair Display', serif;
}
.para{
    font-size: 16px;
    margin: 1rcap;
    color: gold;
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
}
.heart{
    font-size: 3rem;
    text-shadow: 0 0 15px #ff4d6d;
    animation: heartbeat 1.2s ease-in-out infinite;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.25);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.end{
    margin: 0.5rem;
    color: red;
    font-size: 1.8rem;
    font-family: 'Dancing Script', cursive;
}
#you{
    margin: 1.5rem;
}