*{
    margin: 0%;
}
body{
    background: linear-gradient(45deg,#ff9aa2,blue);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 98svh;
    width: 95%;
    background: linear-gradient(rgba(20,5,10,0.7), rgba(20,5,10,0.7)), url(IMG_20260113_211824.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255,154,162,0.8);
}
h3{
    font-size: 3rem;
    margin: 1.5rem;
    background: linear-gradient(45deg, #ff6f91,blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: 'playfair Display', serif;
}
.para{
    font-size: 16px;
    margin: 1rcap;
    color: #f5e9e9;
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    letter-spacing: 0.3px;
}
.heart{
    font-size: 3rem;
    animation: heartbeat 1.6s ease-in-out infinite;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
        filter: blur(0);
        filter: drop-shadow(0 0 3px rgba(255,111,145,0.6));
    }
    20% {
        transform: scale(1.2);
        filter: blur(1.5px);
    }
    40% {
        transform: scale(1);
        filter: blur(0.5px);
        filter: drop-shadow(0 0 2px rgba(255,111,145,0.6));
    }
    60% {
        transform: scale(1.25);
        filter: blur(1.75px);
    }
    80% {
        transform: scale(1);
        filter: blur(0.5px);
        filter: drop-shadow(0 0 2px rgba(255,111,145,0.6));
    }
    100% {
        transform: scale(1);
        filter: blur(0);
        filter: drop-shadow(0 0 3px rgba(255,111,145,0.6));
    }
}

.end{
    margin: 0.5rem;
    color: red;
    font-size: 1.8rem;
    font-family: 'Dancing Script', cursive;
}
#you{
    margin: 1.5rem;
}