*{
    margin: 0%;
}
body{
    background: linear-gradient(45deg,red,blue);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 98svh;
    width: 95%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    margin: 1.5rem;
    background: linear-gradient(45deg,red,blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0);
}
p{
    margin: 1rcap;
    color: white;
    align-self: flex-start;
}