body{
    background: linear-gradient(45deg,red,blue);
    min-height: 100dvh;
    display: flex;
}
div{
    height: 98dvh;
    width: 98dvb;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    margin: 1.5em;
    background: linear-gradient(45deg,red,blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 0, 0, 0);
}
p{
    margin: 0.5em;
    color: white;
    align-self: flex-start;
}